.table {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
 
th {
    border-bottom-width: medium;
}
 
td {
    text-align: center;
    border-bottom-width: thin;
}